.App {
  text-align: center;
}

body{
  background: url("https://cutewallpaper.org/21/pastel-pink-wallpaper/Free-download-Pink-pastel-Sky-Pretty-Wallpaper-di-2019-.jpg") no-repeat center center/cover;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width:45vh;
  min-height: 45vh;
  
}